<!DOCTYPE html>
<html lang="en" class="wf-blambotfxpro-i4-active wf-blambotfxpro-i7-active wf-blambotfxpro-n4-active wf-blambotfxpro-n7-active wf-active">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Quadramics Theatre Company: the best theatre company at the University of Pennsylvania!">
    <title>Quadramics Theatre Co.</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400, 400italic,600,700,800" rel="stylesheet" type="text/css">
</head>
      
  <body data-twttr-rendered="true">
    <div id="fb-root" class=" fb_reset">
      <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"> 
      <div>
      <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="http://static.ak.facebook.com/connect/xd_arbiter/FX-Xf5fQjUk.js?version=41#channel=f32e182ba8&amp;origin=http%3A%2F%2Fwww.quadramics.com" style="border: none;"></iframe>
      <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="https://s-static.ak.facebook.com/connect/xd_arbiter/FX-Xf5fQjUk.js?version=41#channel=f32e182ba8&amp;origin=http%3A%2F%2Fwww.quadramics.com" style="border: none;"></iframe>
      </div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="f231d3a2e4" frameborder="0" allowtransparency="true" scrolling="no" src="https://www.facebook.com/connect/ping?client_id=281622778514692&amp;domain=www.quadramics.com&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FFX-Xf5fQjUk.js%3Fversion%3D41%23cb%3Df2729a2%26domain%3Dwww.quadramics.com%26origin%3Dhttp%253A%252F%252Fwww.quadramics.com%252Ff32e182ba8%26relation%3Dparent&amp;response_type=token%2Csigned_request%2Ccode&amp;sdk=joey" style="display: none;"></iframe></div></div></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=281622778514692";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <section id="container">
    
   <section class="all">
       
    <section class="page" id="photos1">
      <%= image_tag("photos1.png") %>
    </section>
     
    <section class="page" id="intro">
      <section class="text">
      <h1>Quadramics</h1>
      <h2>THEATRE CO.</h2>
      <h3>Because if it's not Quadramics... it might be porn.</h3>
      </section>
    </section>  
       
    <section class="page" id="photos2">
      <%= image_tag("photos2.png") %>
    </section>
       
    <section class="page" id="about">
      <section class="text">
      <h1>About Us</h1>
      <h2>Who are you people?</h2>
        <p>Quadramics is a student theatre company at the glorious <a href="http://www.upenn.edu" target="_blank">University of Pennsylvan-i-a</a>. Students are our directors, producers, actors, singers, band members and board.
        <br><br>Quadramics is also the theatre group focused on enjoying life and getting the best experience possible out of running and working on a production. We are fun-loving, hardworking-more-often-than-not, ridiculous, zany people who share a passion for good times and great theatre—so come join us for the fun, madness, and, as always, the drama!
        <br><br>Oh, and download the Q theme song <a href="http://www.dolphin.upenn.edu/quadramx/QuadramxTheme.mp3" target="_blank">here</a>. It is the best thing to ever happen.</p>
       <p>
       <strong>What we do:</strong>
         </p>
         <ul>
          <li>Fall Play</li>
             Typically a comedy or dramedy with a smaller cast and a cozier setting. Past fall plays include <em>Dog Sees God</em>,&nbsp;<em>Moonchildren</em>, and&nbsp;<em>Mr. Marmalade</em>.
          <li>MisQast</li>
             Quadramics' annual cabaret-style benefit show in which anybody and everybody is invited to perform a song or monologue from a role that is completely wrong for them.
          <li>Spring Fling Musical</li>
             Our famous midnight show is among the great Spring Fling traditions. Past musicals include&nbsp;<em>Avenue Q</em>,&nbsp;<em>The Wild Party</em>, and&nbsp;<em>Little Shop of Horrors.&nbsp;</em>You don't want to miss out!
         </ul>  
        </p>
      </section>
    </section>
      
      <section class="page" id="current">
      <section class="text">
      <h1>Get involved in our Fall 2014 Show:</h1>
      <h2>Large Animal Games</h2>
      <h3>By Steve Yockey</h3><br>
      <h4>directed by Blake Engelhard<br>
          produced by Oscar Serpell</h4><br>
        <p id="full-width"><em>Large Animal Games</em> is an incisive, unexpected, and larger than life tale of sex, love, and self delusion that tracks the overlapping escapades of a group of friends old enough to know better in love but still naive enough to mess things up anyway, and the man who supplies them with equal parts tough love, lingerie and self awareness. In a series of fluid scenes, Large Animal Games takes a comically skewed and razor-sharp look at modern relationships through a mix of bullfights, big game hunting and intimate apparel. </p>
       <p><span>ACTOR?</span><br>
       Come out and audition for the Fall Show this <strong>September!</strong> Stay tuned for more info on audition dates &amp; locations.</p>
       
       <p><span>TECHIE?</span><br>
       Look out for tech interviews <strong>this Fall!</strong> We will need people to help out with sets, lights, costumes, props, and more!<br>
       </p><p><span>DIRECTOR?</span><br>
          We will accept proposals to direct our Spring 2015 Musical in <strong>December.</strong> Stay Tuned!</p>
       <p><span>QUESTIONS?</span><br>
          Contact us <a href="mailto:quadramicsboard@googlegroups.com">here</a> if you have any questions for us!</p>
         
        <p></p>
      </section>
    </section>
      
      <section class="page" id="board">
      <section class="text">
      <h1>Board</h1>
      <h2>What do you hooligans look like?</h2>
          
        <section class="member"><%= image_tag("zach.jpg", :alt => "rss feed") %>
            <span>CHAIR</span> <br>
            <strong>Zach</strong> "So Upstate" <strong>St. Louis</strong>
        </section>

        <section class="member">
        <%= image_tag("oscar.jpg", :alt => "rss feed") %>
            <span>VICE CHAIR</span> <br>
            <strong>Oscar</strong> "Green Card" <strong>Serpell</strong>
        </section>

        <section class="member"><%= image_tag("banna.jpg", :alt => "rss feed") %>
            <span>COMMUNITY LIAISON</span> <br>
            <strong>Banna</strong> "Del Rey" <strong>Gebre</strong>
        </section>
        
        <section class="member"><%= image_tag("harrison.jpg", :alt => "rss feed") %><br>
            <span>BUSINESS MANAGER</span> <br>
            <strong>Harrison</strong> "Look at this Modeling Picture" <strong>Pharamond</strong>
        </section>
        
        <section class="member"><%= image_tag("kyla.jpg", :alt => "rss feed") %>
        <br> <span>SECRETARY/WEBMASTER</span> <br>
            <strong>Kyla</strong> "Small and Questionably Mighty" <strong>Balkan</strong>
        </section>
        
        <section class="member"><%= image_tag("scott.jpg", :alt => "rss feed") %>
            <span>Q LIAISON</span> <br>
            <strong>Scott</strong> "Pretty Boy" <strong>Cesta</strong>
        </section>
        
        <section class="member"><%= image_tag("ben.jpg", :alt => "rss feed") %>
            <span>SOCIAL CHAIR</span> <br>
            <strong>Ben</strong> "Smooth Talker" <strong>Behrend</strong>
        </section>
        
         <section class="member"><%= image_tag("mira.jpg", :alt => "rss feed") %>
            <span>TREASURER</span> <br>
            <strong>Mira</strong> "The Rock" <strong>Taichman</strong>
        </section>

    <section class="member"><%= image_tag("jen1.jpg", :alt => "rss feed") %>
            <span>TECH DIRECTOR</span> <br>
            <strong>Jen</strong> "Brofield" <strong>Schofield</strong>
        </section>
        
        <section class="member">
        <%= image_tag("joe.jpg", :alt => "rss feed") %>
            <span>Q LIAISON</span> <br>
            <strong>Joe</strong> "Mr. 305" <strong>Nahra</strong>
        </section>
        
         <section class="memberhidden"><img src="images/Q.jpg">
            <span>Q LIAISON</span> <br>
            <strong>Joe</strong> "Mr. 305" <strong>Nahra</strong>
        </section>
        
         <section class="member"><img src="images/Q.jpg">
            <span>Q-U-A-D-RAMICS!!!</span> <br>
        </section>
           
      </section>
     </section>         
         
  
<section class="page" id="contact" data-twttr-id="twttr-sandbox-0">
  <h1>Contact</h1>
      <h2>Drop us a line!</h2>
      <p>Questions? Concerns? Wanna chat, maybe get some Jimmy John's? Email us at <br><br><a href="mailto:quadramicsboard@googlegroups.com">quadramicsboard@googlegroups.com</a><br><br> and we'll get back to you ASAP. Especially if it's for Jimmy John's.
      <br><br> Check out our facebook and twitter pages to explore pictures from our shows, see our board in action, and immerse yourself in all things Q!</p>
    
    <div class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/pages/Quadramics-Theater-Co/100507661993" data-width="292" data-show-faces="false" data-header="true" data-stream="false" data-show-border="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=281622778514692&amp;header=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FQuadramics-Theater-Co%2F100507661993&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=false&amp;stream=false&amp;width=292">
  <span style="vertical-align: bottom; width: 292px; height: 70px;">
    <iframe name="f2bfa2c80" width="292px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=281622778514692&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FFX-Xf5fQjUk.js%3Fversion%3D41%23cb%3Df1907f8744%26domain%3Dwww.quadramics.com%26origin%3Dhttp%253A%252F%252Fwww.quadramics.com%252Ff32e182ba8%26relation%3Dparent.parent&amp;header=true&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FQuadramics-Theater-Co%2F100507661993&amp;locale=en_US&amp;sdk=joey&amp;show_border=false&amp;show_faces=false&amp;stream=false&amp;width=292" style="border: none; visibility: visible; width: 292px; height: 70px;" class="">
    </iframe>
  </span>
</div>
 
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Quadramics" data-widget-id="502825174798831616">Tweets by @Quadramics</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

       </section>
    </section> 
  </section>
  <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"> 
    </iframe>
  </body>
</html>


